.footer-distributed {
    background: var(--corUM);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 60px 60px;
    overflow: hidden;
    margin-top: 150px;
}




/* Footer left */

.footer-left {
    float: left;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer-distributed h3 span {
    color: #ffffff;
}

/* Footer links */

.footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    gap: 20px;
}

.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    margin: 10px;
}

.footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 30px;
}

/* Footer social icons */

.footer-icons {
    margin-top: 20px;
}

.footer-icons p {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
}

.footer-icons a img {
    border-radius: 300px;
    overflow: hidden;
}

.footer-icons a {
    margin-right: 10px;
}

/* Footer Right */

.footer-right {
    float: right;
}

.footer-right p {
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form {
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;

    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #5c666b;
}


.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button {
    background: var(--corUM);
    cursor: pointer;
    padding: 10px;
    color: var(--corDOIS);
    border: 1px solid var(--corDOIS);
    text-align: center;
    width: 150px;
    transition: 0.5s;
    border-radius: 10px;
    float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {


    .footer-distributed .footer-company-name {
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }

    .footer-distributed form button {
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }

    .footer-distributed form {
        margin-top: 30px;
    }

    .footer-distributed form {
        display: block;
    }

    .footer-distributed form button {
        float: none;
    }
}