.footer-distributed {
    background: var(--corUM);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 60px 60px;
    overflow: hidden;
    margin-top: 150px;
}




/* Footer left */

.footer-left {
    float: left;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer-distributed h3 span {
    color: #ffffff;
}

/* Footer links */

.footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    gap: 20px;
}

.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    margin: 10px;
    transition: 1s;
}

.footer-links a:hover {
    color: var(--corDOISHOVER);
}

.footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 30px;
}

/* Footer social icons */

.footer-icons {
    margin-top: 20px;
}

.footer-icons p {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    text-align: start;
}

.footer-icons a img {
    border-radius: 300px;
    overflow: hidden;
}

.footer-icons a {
    margin-right: 10px;
}

.footer-distributed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-distributed article aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.footer-distributed article aside h2{
    font-size: 30px;
    color: #ffffff;
    width: 250px;
    margin-top: 20px;
}

.footer-distributed article aside img{
    width: 250px;
    border: 1px solid white;
    border-radius: 20px;
}
