form{
    border-radius: 20px;
    box-shadow: 10px 15px 30px #040404;
    width: 100%;
    max-width: 30rem;
    padding: 30px;
    background-color:rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

input{
    padding: 15px;
    border: none;
    color: var(--corDOIS);
    background-color: var(--corUM);
    border-radius: 10px;
}


input:hover,
input:focus,
textarea:hover,
textarea:focus{
outline: none;
border-color: #ffffff88;
}

label{
    margin-bottom: 10px;
    color: var(--corDOISHOVER);
}

textarea{
    resize: none;
    padding: 15px;
    border: none;
    background-color: var(--corUM);
    color: var(--corDOIS);
    border-radius: 10px;
}
form button{
    width: 200px;
    text-align: center;
    font-size: 15px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    transition: 0.5s;
    box-shadow: 0px 0px 20px #040404;
    border: 1px solid var(--corDOIS);
    margin:  20px auto;
}

button:hover,
button:focus{
    outline: none;
    background-color: var(--corDOIS);
    color: var(--corUM);
    border: 1px solid var(--corUM);
}