header {
    padding: 20px;
    height: 20vh;
    background-color: var(--corUM);
    color: var(--corDOIS);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo_Do_site {
    margin: 20px;
    font-size: 30px;
    border-right: 0 solid var(--corDOISHOVER);
}

.logo_Do_site a {
    text-decoration: none;
    color: var(--corDOIS);
    font-family: var(--fonteTitulo);
    transition: 0.8s;
}

header ul {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

ul li {
    text-decoration: none;
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--corDOIS);
    font-family: var(--fonteParagrafo);
    font-size: 23px;
    transition: 0.8s;
    border-bottom: 5px solid var(--corUM);
}

/* Efeitos e animações abaixo */

.logo_Do_site a:hover{
    color: var(--corDOISHOVER);
}

li a:hover{
    border-bottom: 2px solid var(--corDOISHOVER);
    padding-bottom: 10px;
    color: var(--corDOISHOVER);
}


