/* Section um baixo */

.conteiner_um {
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding: 20px;
}


.sub_titulo_tech {
    width: 50em;
    color: var(--corDOIS);
    font-family: var(--fonteParagrafo);
    text-align: center;
    display: flex;
    justify-content: start;
    font-size: 35px;
    padding: 10px;
}

.sub_titulo_tech h2 {
    margin: 60px;
    width: 400px;
    color: var(--corDOIS);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: var(--corUM);
    text-align: start;
}

.sub_titulo_tech h2 span {
    transition: 0.8s;
    padding-right: 10px;
    animation-duration: 0.7s;
    animation-name: codeinfinity;
    animation-iteration-count: infinite;
    border-right: 5px solid var(--corUM);
}

.imagem_tech {
    margin: 40px;
    animation: floatAnimationIMG 4s infinite alternate;
}

.conteiner_dois {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.conteiner_dois h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: var(--corUM);
    text-align: center;
}

.conteiner_dois p {
    text-align: center;
    font-family: var(--fonteParagrafo);
    font-size: 25px;
    color: var(--corUM);
    text-align: center;
}

.area_apresentacao {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.area_apresentacao_two {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.formulario_client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 70px;
}

.titulo_form_apresentacao {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.titulo_form_apresentacao h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: var(--corUM);
    text-align: center;
}

.titulo_form_apresentacao p {
    text-align: center;
    font-family: var(--fonteParagrafo);
    font-size: 25px;
    color: var(--corUM);
    text-align: center;
}

/* Efeitos e animações  */

@keyframes slidein {
    0% {
        border-right: 0px solid var(--corDOISHOVER);
    }

    100% {
        border-right: 5px solid var(--corDOIS);
    }
}

@keyframes codeinfinity {

    100% {
        border-right: 5px solid var(--corDOIS);
    }
}

@keyframes floatAnimationIMG {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    
    }

    100% {
        transform: translateY(0);
    }
}