:root{
    --corUM:#000000;
    --corDOIS:#ffffff;
    --corDOISHOVER:#c9c9c9e7;
    --fonteParagrafo:monospace;
    --fonteTitulo: sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%; 
}